<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">Skills</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">C# (Web API, Microservices, DDD, layered architecture, Entity Framework Core, Dot Net Core )</span>
                <div class="progress">
                </div>
              </div>
            </div>
            <div class="col-md-6"> 
               <div class="progress-container progress-primary">
                <span class="progress-badge">Linux/GNU , Kali linux tools, Ethical hacker fundamentals</span>
                <div class="progress">
                 </div>
              </div> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">JS, html, css, angular</span>
                <div class="progress">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Agile
                  </span>
                <div class="progress">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">SQL, MSSQL</span>
                <div class="progress">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Redis</span>
                <div class="progress"> 
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">RabbitMq</span>
                <div class="progress">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">abp.io framework</span>
                <div class="progress">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
