<footer class="footer">
    <div class="container text-center">
        <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/sercan-mercan-7068b514a/" target="_blank">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.instagram.com/miss.thecoral/" target="_blank">
            <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/sercanmercan" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>