.experience-header{
    text-align: center;
    font-style: bold;
}

.first-div{
    border-style:inset;
    padding: 10px 10px;
    border-top-left-radius: 20px;
    border-bottom-style: solid;
    border-color: rgb(99, 214, 180);
    margin: 1em auto;
    margin-bottom: 1em auto;
    height: 300px;
}

.first-list{
margin: -80px 50px 500px 700px;
}

.second-list{
    margin: 50px 0px 200px 0px;
}

.third-list{
    margin: -130px 0px 400px 250px;
}

.forth-list{
    margin: -80px 100px 400px 850px;
}
    