<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title experience-header" style="font-size:2vw">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row first-div">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Dijital Kurye</div>
                                        <div class="h6 mt-0 title">Software Engineer (08-2021 - Present)</div>
                                        <p align="justify">Worked as a DotNet software backed developer to develop "Dijital Kurye" portal.</p>
                                    </div>    
                                    <div class="col-lg-6 first-list">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <div class="second-list">
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">C# </li>
                                                        <li class="non_list">DotNet 6</li>
                                                        <li class="non_list">DotNet 5</li>
                                                        <li class="non_list">Git</li>
                                                    <!-- </div>
                                                    <div class="col-md-6"> -->
                                                        <li class="non_list">Dotnet Core</li>
                                                        <li class="non_list">Jira</li>
                                                    </div>
                                                    
                                                    <div class="col-md-6 third-list">
                                                        <li class="non_list">Entity Framework</li>
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Abp.io Framework</li>
                                                        <li class="non_list">MSSQL</li>
                                                        <li class="non_list">DDD</li>
                                                        <li class="non_list">Layered Architecture</li>
                                                        <li class="non_list">RabbitMq</li>
                                                        <li class="non_list">Redis</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row first-div">
                                    <div>
                                        <div >Ayasofyazılım</div>
                                        <div class="h6 mt-0 title">Software Engineer (02-2020 - 07-2021)</div>
                                        <p align="justify">Worked as a DotNet software backend developer to develop portal which is done a special integrator of revenue administration.</p>
                                    </div>    
                                    <div class="col-lg-6 forth-list">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <div class="second-list">
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">C#</li>
                                                        <li class="non_list">Dotnet Core</li>
                                                        <li class="non_list">Jira</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Git</li>
                                                        <li class="non_list">Entity Framework</li>
                                                        <li class="non_list">MSSQL</li>
                                                        <!-- <li class="non_list">Git</li> -->
                                                    </div>
                                                </div>   
                                            </ul>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        