<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                    <div class="card-body">
                        <div class="h4 mt-0 title" style="font-size:1.5vw">About Me</div>
                            <p align="justify" style="font-size:1.25vw">Hello everyone and welcome. My name is Sercan. Please allow me to introduce and tell you a little bit about myself……
                                I was born in Turkey,1996.  I graduated from the University of Ankara Yildirim Beyazıt in computer engineering, 2019. I had been studying for 5 years with an English preparatory class in my first year. </p>
                            <p align="justify" style="font-size:1.25vw">Throughout my education, I’ve always displayed a strong sense of motivation to succeed in everything that I do. I love to travel and explore the world and learn about different cultures. To improve my language skills, I enrolled and studied in an English language course at an international language school while living in London, England, for one month. In the 3rd year of my university study, I spent 4 months in an exchange student programme in South Korea. As mentioned previously, I have a passion for travel. I have gained beautiful experiences and different perspectives as east and west cultures are different but yet so similar. As I listened to peoples’ stories and shared my own, I felt that I touched their lives, and many have touched mine. These experiences have affected me positively.</p>
                            <p align="justify" style="font-size:1.25vw">My passion for tech is my main purpose for choosing this field. My drive and ambition is to be a part of this developing technology and as an individual who produces technology, not consumes it! I am a hardworking personality with a curiosity and willingness for continuous learning and development that will allow me to move forward on my chosen path.</p>
                            <p align="justify" style="font-size:1.25vw">In short, I am a travel lover, tech enthusiast and explorer :)</p>
                    </div>
            </div>
        </div>
    </div>
</div>

