.inset{
    border-style:inset;
    padding: 50px 20px;
    border-top-left-radius: 20px;
    border-bottom-style: solid;
    border-color: rgb(99, 214, 180);
    border-collapse: separate;
    border-spacing: 10px 40px;
    margin: 3em auto;
}