<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small intro-css" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/backgrnd.png');">
            </div>
        <div class="container">
            <div class="content-center intro-css::before">
                <div >
                        <img src="assets/images/IMG_7082.jpeg" alt="Image" />
                </div>
                <div class="h2 title font"> Sercan MERCAN 
                <p class="category text-white">BackEnd Developer</p>
                <!-- <a class="btn btn-primary" href="" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a> -->

            </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="" target="_blank" rel="tooltip" title="Follow me on Medium">
                        <i class="fa fa-medium"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/miss.thecoral/" target="_blank" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/sercan-mercan-7068b514a/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/sercanmercan" target="_blank" rel="tooltip" title="Follow me on Github">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
